*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins","Segoe UI",sans-serif;
}


html,body{

width:100%;
height:100%;

overflow:hidden;

background:#080014;

color:white;

}



/* =========================
   COMMON SCREEN STYLE
========================= */


.screen{

position:absolute;

top:0;
left:0;

width:100%;
height:100vh;

display:none;

justify-content:center;
align-items:center;

flex-direction:column;

text-align:center;

padding:20px;

z-index:2;

}



.screen.active{

display:flex;

}





/* =========================
   STAR BACKGROUND
========================= */


.stars{

position:fixed;

width:100%;
height:100%;

background:

radial-gradient(circle,white 1px,transparent 1px);

background-size:45px 45px;

opacity:.35;

animation:moveStars 40s linear infinite;

}



@keyframes moveStars{

from{

transform:translateY(0);

}

to{

transform:translateY(-200px);

}

}







/* =========================
 LOADING
========================= */


#loading{

background:#050008;

}



.loading-box h1{

font-size:24px;

}



.loading-box p{

margin-top:10px;

color:#ff9edc;

}



.loader{

width:260px;

height:8px;

background:#222;

border-radius:20px;

overflow:hidden;

margin-top:30px;

}



.progress{

height:100%;

width:0;

background:linear-gradient(
90deg,
#ff1493,
#ffc0cb
);

animation:loading 3.5s forwards;

}



@keyframes loading{

to{

width:100%;

}

}








/* =========================
 GLASS CARD
========================= */


.glass-card{


width:90%;

max-width:380px;

padding:35px 25px;


background:

rgba(255,255,255,.12);


backdrop-filter:blur(20px);


border-radius:25px;


box-shadow:

0 0 30px rgba(255,20,147,.4);


}



.glass-card h1{

font-size:28px;

}



.glass-card p{

margin:20px 0;

}



input{


width:100%;

padding:15px;

border-radius:25px;

border:none;

outline:none;

font-size:16px;


}






button{


margin-top:25px;

padding:14px 35px;

border:none;

border-radius:30px;

background:

linear-gradient(
45deg,
#ff1493,
#ff69b4
);


color:white;

font-size:16px;

cursor:pointer;


box-shadow:

0 0 20px pink;


transition:.3s;


}



button:active{

transform:scale(.95);

}








/* =========================
 GIFT
========================= */


#giftBox{


font-size:110px;

cursor:pointer;


animation:bounce 1.5s infinite;


}




@keyframes bounce{


50%{

transform:translateY(-25px);

}

}








/* =========================
 BIRTHDAY
========================= */


.birthday-title{


font-size:45px;

color:#ff9de2;


text-shadow:

0 0 20px pink;


animation:zoom 1s;


}



@keyframes zoom{

from{

transform:scale(.5);

opacity:0;

}


}



#birthday h2{

font-size:32px;

margin:20px;

}








/* =========================
 LETTER
========================= */


.letter-paper{


background:#fff;

color:#333;

width:90%;

max-width:430px;

padding:30px;

border-radius:20px;


box-shadow:

0 0 30px pink;


font-size:17px;

line-height:1.6;


}



#letterText{

margin:20px 0;

white-space:pre-line;

}









/* =========================
 GALLERY
========================= */


.gallery{


display:flex;

gap:15px;

justify-content:center;

flex-wrap:wrap;

}



.gallery img{


width:90px;

height:120px;

object-fit:cover;


border-radius:15px;


box-shadow:

0 0 20px #ff69b4;


transform:rotate(-5deg);


transition:.3s;


}



.gallery img:active{

transform:scale(1.1);

}









/* =========================
 REASONS
========================= */


.reason-card{


width:90%;

max-width:350px;


padding:20px;


margin:8px;


border-radius:20px;


background:

rgba(255,255,255,.15);


backdrop-filter:blur(10px);


animation:slide .7s;


}



@keyframes slide{


from{

opacity:0;

transform:translateY(30px);

}


}









/* =========================
 STAR WISH
========================= */


#wishStar{


font-size:100px;


cursor:pointer;


animation:starGlow 1.5s infinite;


}



@keyframes starGlow{


50%{

filter:drop-shadow(0 0 25px yellow);

}


}









/* =========================
 GAME
========================= */


#catchHeart{


font-size:70px;

position:absolute;


cursor:pointer;


transition:.2s;


}



#game p{

margin-top:100px;

}









/* =========================
 FINAL
========================= */


.final-box{


width:90%;

max-width:600px;


}



.final-box h1{


font-size:38px;

color:#ff9de2;


}



.final-box p{


margin-top:25px;


font-size:18px;

line-height:1.8;


}








/* =========================
 IPHONE RESPONSIVE
========================= */


@media(max-width:600px){



.loading-box h1{

font-size:20px;

}


.birthday-title{

font-size:32px;

}


#birthday h2{

font-size:25px;

}


#giftBox{

font-size:90px;

}


.gallery img{

width:80px;

height:110px;

}


.final-box h1{

font-size:28px;

}



.final-box p{

font-size:16px;

}


}
