*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

overflow:hidden;
font-family:Arial, sans-serif;
background:#000;
color:white;

}

/* Stars */

#stars{

position:fixed;
width:100%;
height:100%;
background:url("https://www.transparenttextures.com/patterns/stardust.png");
animation:moveStars 100s linear infinite;

}

@keyframes moveStars{

from{

background-position:0 0;

}

to{

background-position:1000px 1000px;

}

}

/* Loading */

#loading{

position:absolute;
width:100%;
height:100vh;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

background:black;

z-index:10;

}

.loader{

margin-top:20px;

width:300px;

height:8px;

background:#222;

border-radius:20px;

overflow:hidden;

}

.progress{

height:100%;

width:0%;

background:hotpink;

animation:load 4s linear forwards;

}

@keyframes load{

to{

width:100%;

}

}

/* Password */

#passwordScreen{

display:none;

position:absolute;

width:100%;

height:100vh;

justify-content:center;

align-items:center;

}

.glass{

width:420px;

padding:40px;

border-radius:20px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

text-align:center;

box-shadow:0 0 30px hotpink;

}

.glass h2{

margin-bottom:20px;

}

.glass p{

margin:15px;

}

input{

width:100%;

padding:14px;

border:none;

border-radius:10px;

outline:none;

margin-top:10px;

}

button{

margin-top:20px;

padding:12px 30px;

border:none;

border-radius:30px;

background:hotpink;

color:white;

font-size:18px;

cursor:pointer;

transition:.4s;

}

button:hover{

transform:scale(1.1);

}

#wrong{

color:red;

margin-top:15px;

}
